<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Login' }) %>

<body style="background: url('pexels-element-digital-1550337.jpg'); background-size: cover;">
<%- include('partials/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Login</h2>

                    <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>

                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2.5.5/dist/umd/popper.min.js"></script>

<%- include('partials/bootstrapscripts') %>
</body>
</html>
