<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> <!-- Include the head partial -->

    <body>
        <%- include('partials/navbar') %> 

            <div class="container">
                <h2 class="mt-5">User Registration</h2>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <!-- Registration Form -->
                                <form action="/auth/register" method="POST">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <%- include('partials/bootstrapscripts') %>
    </body>

</html>